@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Demo App</h1>
    <p>Just a demo of getting .NET 6 ASP.NET app running using the new minimal hosting model PLUS Azure AD sign-in PLUS Graph API support</p>
    <img src="~/img/nice.gif">
</div>
